<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8" />
    <title>me</title>
    <link rel="icon" href="favicon.png">
</head>
<body>

    <div id="bg"></div>

    {% include directory.html %}

    <main>
        {{ content }}
    </main>

    <script src="../main.js"></script>
</body>
</html>